html, body, .container {
    height: 100%;
    font-size: 12px;
}

canvas {
    border: 1px solid black;
    border-radius: 3px;
}

label {
    margin: 0;
}

#selected-grains-container {
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
}

.phase-square {
    min-width: 10px;
    min-height: 10px;
}