<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <div class="row ">
            <div class="col-sm">
                <div class="canvas-container">
                    <canvas>


                    </canvas>
                </div>
            </div>
            <div class="col-sm">
                <div class="inputs-container p-3">
                    <div class="form-group w-100">
                        <div class="row pt-3">
                            <label for="x-size-input" class="mr-1">X Size: </label>
                        </div>
                        <div class="row">   
                            <input type="number" min="300" id="x-size-input" class="w-100"/>
                        </div>
                        <div class="row pt-3">   
                            <label for="y-size-input" class="mr-1">Y Size: </label>
                        </div>
                        <div class="row">   
                            <input type="number" min="300" id="y-size-input" class="w-100"/>
                        </div>
                        <div class="row pt-3">
                            <label for="y-size-input" class="mr-1">Number of nucleons: </label>
                        </div>
                        <div class="row">   
                            <input type="number" id="nucleons-input" class="w-100"/>
                        </div>
                        <div class="row pt-4">  
                            <button type="submit" class="ml-auto mr-auto">Start simulation</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../lib/js/jquery-3.4.1.min.js"></script>
    <script src="../lib/js/bootstrap.min.js.map"></script>
</body>
</html>