<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

    <link rel="stylesheet" href="../lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../lib/js/jquery-3.4.1.min.js"></script>      
    <script>if (window.module) module = window.module;</script>
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col canvas-column d-none">
                <div class="canvas-container w-100"></div>
            </div>

            <div class="col">
                <div class="inputs-container p-1">
                    <div class="form-group w-100">
                        <div class="row">
                            <div class="col">
                                <label for="x-size-input" class="mr-1">Size X:</label> 
                                <input type="number" min="300" id="x-size-input" class="w-100"/>
                            </div>
                            <div class="col">   
                                <label for="y-size-input" class="mr-1">Size Y:</label> 
                                <input type="number" min="300" id="y-size-input" class="w-100"/>
                            </div>
                        </div>
                        <button type="button" id="size-button">Generate space</button>

                        <div class="neighborhood-type-container">
                            <label for="neighborhood-type" class="mr-1">Neighborhood type:</label>
                            <select class="form-control" id="neighborhood-type" disabled>
                                <option value="0">Moore</option>
                                <option value="1">Von Neumann</option>
                                <option value="2">Grain shape control</option>
                              </select>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" value="manual" disabled>Add grains manually</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" value="random" disabled>Add grains randomly</label>
                        </div>

                        <div class="grains-number-container">
                            <label for="grains-number" class="mr-1">Number of grains:</label>
                            <input type="number" id="grains-number" class="w-100" disabled/>
                        </div>
                        <button type="button" id="grains-button" disabled>Add grains</button>

                        <div class="nucleons-number-container">
                            <label for="nucleons-number" class="mr-1">Number of nucleons:</label>
                            <input type="number" id="nucleons-number" class="w-100" disabled/>
                        </div>
                        <div class="nucleons-size-container">
                            <label for="nucleons-size" class="mr-1">Size of nucleons:</label>
                            <input type="number" id="nucleons-size" class="w-100" disabled/>
                        </div>
                        <div class="nucleons-shape-container">
                            <label for="nucleons-shape" class="mr-1">Shape of nucleons:</label>
                            <select class="form-control" id="nucleons-shape" disabled>
                                <option value="0">random</option>
                                <option value="1">&#9679 - circular</option>
                                <option value="2">&#9632 - square</option>
                              </select>
                        </div>
                        <button type="button" id="nucleons-button" disabled>Add nucleons</button>

                        
                        <button type="button" id="simulate-button" disabled>SIMULATION</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../scripts/main.js"></script>
    <script src="../scripts/helper.js"></script>
    <script src="../scripts/canvasController.js"></script>  
    <script src="../scripts/eventHandlers.js"></script>
</body>
</html>