<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grain Growth</title>

    <link rel="stylesheet" href="../lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../lib/js/jquery-3.4.1.min.js"></script>
    <script src="../lib/js/bootstrap.min.js"></script>         
    <script>if (window.module) module = window.module;</script>
</head>
<body>
    <div class="container w-100">
        <div class="row">

            <div class="col canvas-column d-none">
                <div class="canvas-container w-100 p-4"></div>
            </div>

            <div class="col">

                <nav>
                    <div class="nav nav-tabs d-none" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-ca-tab" data-toggle="tab" href="#nav-ca" role="tab" aria-controls="nav-ca" aria-selected="true">
                            Simple CA
                        </a>
                        <a class="nav-item nav-link disabled" id="nav-mc-tab" data-toggle="tab" href="#nav-mc" role="tab" aria-controls="nav-mc" aria-selected="false">
                            Monte Carlo
                        </a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">

                    <div class="tab-pane fade show active" id="nav-ca" role="tabpanel" aria-labelledby="nav-ca-tab">
                        <div class="inputs-container p-1">
                            <div class="form-group w-100 text-right">
                                <div class="row pt-3 text-left">
                                    <div class="col">
                                        <label for="x-size-input">Size X:</label> 
                                        <input type="number" min="300" id="x-size-input" class="w-100"/>
                                    </div>
                                    <div class="col">   
                                        <label for="y-size-input">Size Y:</label> 
                                        <input type="number" min="300" id="y-size-input" class="w-100"/>
                                    </div>
                                </div>
                                <div class="text-left text-danger pt-2" id="size-error"></div>
                                <button type="button" id="size-button" class="ml-auto mr-auto">Generate space</button>
        
                                <div class="neighborhood-type-container pt-2 text-left">
                                    <label for="neighborhood-type">Neighborhood type:</label>
                                    <select class="form-control" id="neighborhood-type" disabled>
                                        <option value="0">Moore</option>
                                        <option value="1">Von Neumann</option>
                                        <option value="2">Grain shape control</option>
                                      </select>
                                </div>
                                <div class="probability-container d-none text-left pt-2">
                                    <label for="probability">Probability:</label>
                                    <input min="1" max="100" type="number" id="probability" class="w-100"/>
                                    <div class="text-left text-danger pt-2" id="probability-error"></div>
                                </div>
        
                                <div class="radio-container text-left pt-2 pb-2">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" value="manual" disabled>Add grains manually</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" value="random" disabled>Add grains randomly</label>
                                    </div>
                                </div>

                                <div class="states-number-container text-left pt-2 pb-1">
                                    <label for="states-number">Number of states:</label>
                                    <input type="number" id="states-number" class="w-100" disabled/>
                                    <div class="text-left text-danger pb-1" id="states-error"></div>
                                </div>
        
                                <div class="grains-number-container text-left pb-2">
                                    <label for="grains-number">Number of grains:</label>
                                    <input type="number" id="grains-number" class="w-100" disabled/>
                                    <div class="text-left text-danger pb-t" id="grains-error"></div>
                                </div>
                                <button type="button" id="grains-button" disabled>Add grains</button>
        
                                <div class="inclusions-number-container text-left pt-2">
                                    <label for="inclusions-number">Number of inclusions:</label>
                                    <input type="number" id="inclusions-number" class="w-100" disabled/>
                                </div>
                                <div class="inclusions-size-container text-left pt-2">
                                    <label for="inclusions-size">Size of inclusions:</label>
                                    <input type="number" id="inclusions-size" class="w-100" disabled/>
                                </div>
                                <div class="inclusions-shape-container text-left pt-2 pb-2">
                                    <label for="inclusions-shape">Shape of inclusions:</label>
                                    <select class="form-control" id="inclusions-shape" disabled>
                                        <option value="0">random</option>
                                        <option value="1">&#9679 - circular</option>
                                        <option value="2">&#9632 - square</option>
                                      </select>
                                </div>
                                <div class="text-left text-danger pb-t" id="inclusions-error"></div>
                                <button type="button" id="inclusions-button" disabled>Add inclusions</button>
                                
                                <div id="selected-grains-container" class="w-100 d-none text-left pt-2">
                                    <label for="selected-grains">Added phases:</label>
                                    <ul id="selected-grains" class="list-group"></ul>
                                </div>
        
                                <div class="structure-container d-none text-left pt-2 pb-2">
                                    <label for="structure">Structure:</label>
                                    <select class="form-control" id="structure">
                                        <option value="0">Substructure</option>
                                        <option value="1" disabled>Dual-phase</option>
                                    </select>
                                </div>
        
                                <div class="row pb-2">
                                    <div class="col">
                                        <button type="button" id="select-grains-button" class="d-none w-100">Select grains</button>
                                    </div>
                                    <div class="col">
                                        <button type="button" id="clear-button" class="d-none w-100">Clear space</button>
                                    </div>
                                </div>
        
                                <div class="row pb-2">
                                    <div class="col">
                                        <button type="button" id="color-all-button" class="d-none w-100">Color all boundaries</button>
                                    </div>
                                    <div class="col">
                                        <button type="button" id="color-selected-button" class="d-none w-100">Color selected boundaries</button>
                                    </div>
                                </div>
        
                                <div class="text-center">
                                    <button type="button" id="ca-simulate-button" disabled>START</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-mc" role="tabpanel" aria-labelledby="nav-mc-tab">

                        <div class="iterations-number-container text-left pt-3 pb-2">
                            <label for="iterations-number">Number of iterations:</label>
                            <input type="number" id="iterations-number" class="w-100"/>
                            <div class="text-left text-danger pb-1" id="iterations-error"></div>
                        </div>
                        
                        <div class="text-center">
                            <button type="button" id="mc-simulate-button">START</button>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="../scripts/main.js"></script>
    <script src="../scripts/helper.js"></script>
    <script src="../scripts/canvasController.js"></script>  
    <script src="../scripts/eventHandlers.js"></script>
    <script src="../scripts/domModificationsController.js"></script>  
    <script src="../scripts/grainGrowController.js"></script>  
    <script src="../scripts/monteCarloController.js"></script> 
</body>
</html>